.shop-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    width: 100%;
    height: 392px;

    margin-bottom: 60px;

    background: url("/resources/images/shop-head.png") no-repeat center center / cover;
}

.shop-head > h2 {
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
    color: #000;
}

.head-nav > ul {
    display: flex;
    gap: 16px;
}

.head-nav > ul > li:not(:last-child) {
    color: #605F5F;
}

.head-nav > ul > li:not(:last-child)::after {
    display: inline-block;
    width: 12px;
    height: 12px;
    content: '';
    margin-left: 4px;
    background: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.584229 1L3.58423 4L0.584229 7' stroke='%23605F5F' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center center;
}

.motto {
    color: #121212;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;

}

.product-cards {
    margin-bottom: 80px;
}

.product-cards > ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.product-cards > h2 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
}