@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "/resources/styles/reset.css";

* {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    background: none;
    border: none;
}

dialog {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}

/* Colors */
:root {
    /* Primary */
    --primary-1: #000;

    /* Secondary */
    --secondary-blue: #377DFF;
    --secondary-green: #38CB89;
    --secondary-orange: #FFAB00;
    --secondary-red: #FF5630;

    /* Neutral */
    --neutral-01: #FEFEFE;
    --neutral-02: #F3F5F7;
    --neutral-03: #E8ECEF;
    --neutral-04: #6C7275;
    --neutral-05: #343839;
    --neutral-06: #232627;
    --neutral-07: #141718;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;

    color: var(--primary-1);
}



.content-wrapper {
    padding-left: 160px;
    padding-right: 160px;
}

@media (max-width: 768px) {
    .content-wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.neutral-04-formatted-text {
    color: var(--neutral-04);
}

.app-main {
    min-height: 100vh;
}

/* Footer */


.scroll-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    --width: 140px;
    width: var(--width);
    position: fixed;
    bottom: 16px;
    right: 10px;
}

/* From Uiverse.io by vinodjangid07 */
.scroll-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.scroll-svg-icon {
    width: 12px;
    transition-duration: 0.3s;
}

.scroll-svg-icon path {
    fill: white;
}

.scroll-top:hover {
    width: var(--width);
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.scroll-top:hover .scroll-svg-icon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.scroll-top::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0;
}

.scroll-top:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

