.app-footer {
    background: var(--neutral-07);
    padding-top: 80px;
    padding-bottom: 32px;
    margin-top: auto;
}

.logo {
    font-size: 24px;
    color: white;
    padding-right: 32px;
    border-right: 1px var(--neutral-04) solid;
}

.app-footer > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: var(--neutral-04) 1px solid;
}

.logo-wrapper {
    color: var(--neutral-03);
    display: flex;
    align-items: center;
}

.motto {
    margin-left: 32px;
    font-weight: normal;
}

.pages-nav {
    color: var(--neutral-01);
}

.pages-nav {
    font-weight: normal;
}

.pages-nav ul {
    display: flex;
    gap: 40px;
}

.pages-nav li {
    transition: 0.2s;
}

.copyright {
    color: var(--neutral-03);
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 20px;
}